<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title> out page </title>

<link rel="stylesheet" type = "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="../public/stylesheets/style2.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<style>
.jumbotron{
	background-color:#2E2D88;
	color:white;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solide #ddd;
	padding: 10px;
}
.nav-tabs{
	margin-bottom: 0;
}
</style>
</head>

<body>

	<div id ="intro" class="view">
		<div class="full-bg-img">
		
		</div>
		
		<div class="d-flex justify-content-center"> 
			<h1> <a href="#">TweetInsights </a></h1>
		</div>
		
		<div class="row">
		<div class="col d-flex justify-content-center">
		  <div class="col-sm-5">
			<div class="card bg-success">
			  <div class="card-body">
				<h5 class="card-title">Positive Word Results</h5>
				<p class="card-text">
					POSITIVE WORDS GO HERE 
				</p>
				
			  </div>
			</div>
		  </div>
		  <div class="col-sm-5">
			<div class="card bg-danger">
			  <div class="card-body">
				<h5 class="card-title">Negative Word Results</h5>
				<p class="card-text">
					NEGATIVE WORDS GO HERE 
				</p>
				
			  </div>
			</div>
		  </div>
		</div>
		</div>
		<div class="container">
			<h2 id="demo1" style="font-size: 40px;">Negative Sentiment </h2>
		</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-primary">Try Again?</button>
		</div>
		
		
	</div>


	<script src="circletype.min.js"></script>
	<script>
		new CircleType(document.getElementById('demo1'))
			.radius(220);
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>